:root {
  --font-family: open-sans, sans-serif;
  --background-color: #000;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

nav {
  margin: 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-link {
  display: flex;
  align-items: center;
  gap: 90px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.spoon {
  transform: rotate(-30deg);
  margin-left: 5px;
  position: absolute;
  top: 15px;
}

nav h1 {
  font-size: 2.5rem;
  font-style: italic;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-top: 18px;
}

nav ul li a {
  font-size: 1rem;
  color: var(--text-color);
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--text-color);
  transition: all 0.7s;
}

.menu-bar {
  display: none;
}

.favorite h2 {
  font-size: 1.2rem;
  padding-top: 20px;
}

.heart {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}

.red-heart {
  color: red;
  cursor: pointer;
}

.white-heart {
  color: white;
  font-size: 1rem;
  margin-left: 5px;
}

.remove {
  cursor: pointer;
}

.favorite-wrapper {
  height: 295px;
  width: 300px;
  background-color: var(--text-color);
  position: absolute;
  z-index: 100;
  right: 10%;
  border-radius: 12px;
  overflow-y: scroll;
}

.favorite-handler {
  cursor: pointer;
}

.favorite-card {
  border: 2px solid var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);
  width: 90%;
  height: 20%;
  margin: 5px auto;
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 12px;
}

.favorite-image {
  width: 30%;
  height: 100%;
}

.favorite-image img {
  width: 100%;
  height: 100%;
  box-fit: cover;
}

.favorite-content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-favorite {
  width: 70%;
  height: 30%;
  margin: 50% auto;
  color: var(--background-color);
  background-color: var(--text-color);
  text-align: center;
}

.search-bar {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top: 320px;
  left: 35%;
  right: 35%;
  width: 30%;
  height: 60px;
  border-radius: 30px;
}

input {
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
  width: 80%;
  height: 100%;
  padding-left: 20px;
  border-radius: inherit;
}

input:focus {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

::placeholder {
  padding-left: 20px;
}

.search-bar button {
  background-color: var(--text-color);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.search-bar button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

.search {
  font-size: 1.5rem;
  font-weight: 300;
}

.search-icon {
  border-left: 1px solid var(--background-color);
  width: 20%;
  height: 100%;
  display: grid;
  place-items: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.search-text {
  display: grid;
  gap: 10px;
  position: absolute;
  top: 200px;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 60px;
  border-radius: 30px;
  text-align: center;
}

.search-results {
  background-color: var(--text-color);
  color: var(--background-color);
  position: absolute;
  top: 405px;
  left: 37%;
  right: 35%;
  width: 26.5%;
  height: 130px;
  padding: 20px;
  overflow-y: auto;
}

.search-results-content {
  display: flex;
  gap: 10%;
  margin-top: 10px;
  scrolly: auto;
  cursor: pointer;
}

.search-results-img {
  border: 1px solid var(--background-color);
  width: 32%;
  height: 100%;
}

.search-results-img img {
  width: 100%;
  height: 100%;
  box-fit: cover;
}

.search-results-text {
  width: 60%;
  display: grid;
  padding: 10px 0;
}

.close-search {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 1.5rem;
  color: var(--background-color);
  cursor: pointer;
}

.food-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.food-modal {
  background-color: var(--text-color);
  color: var(--background-color);
  width: 40%;
  height: 90%;
  border-radius: 30px;
  padding: 10px 20px;
  overflow-y: auto;
}

.food-image {
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
}

.food-modal img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
}

.food-details h3,
p {
  padding-top: 5px;
}

.food-details a {
  color: var(--background-color);
  text-decoration: none;
}

.food-details a:hover {
  border-bottom: 1px solid var(--background-color);
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 10px;
}

.youtube-icon {
  color: red;
  padding-top: 5px;
}

.random-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.random-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.random-button button {
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.card-display {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.meal-card {
  height: 320px;
  width: 250px;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 10px;
}

.meal-image {
  width: 100%;
  height: 50%;
}

.meal-card img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.meal-details {
  padding: 20px;
}

.category-dish h1 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.category {
  border: 1px dotted var(--text-color);
  display: flex;
  padding: 10px 20px;
  margin: 10px 20px;
  gap: 10px;
}

.category-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.country-dropdown {
  display: none;
}

.country-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  gap: 10px;
  padding: 20px 20px 0px 20px;
}

.country-buttons button {
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.country-buttons button:hover {
  border: 2px solid grey;
  background-color: var(--text-color);
  color: var(--background-color);
}

.country-dishes {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
}

.dish {
  height: 210px;
  width: 250px;
  border-radius: 10px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
}

.dish-image {
  width: 100%;
  height: 60%;
}

.dish-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* media query */
@media (max-width: 480px) {
  nav {
    margin: 5px 5%;
  }
  nav ul {
    display: none;
  }

  .favorite {
    display: none;
  }

  .mobile-favorite-handler {
    font-size: 1.2rem;
    color: var(--background-color);
    margin-top: 5px;
  }

  .mobile-heart {
    font-size: 1rem;
    color: var(--background-color);
    margin-left: 10px;
  }

  .favorite-wrapper {
    height: 227px;
    width: 270px;
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    z-index: 100;
    left: 2%;
    top: 50px;
    border-radius: 12px;
    overflow-y: scroll;
  }

  .no-favorite {
    width: 70%;
    height: 50%;
    margin: 20% auto;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
  }

  .no-favorite h2 {
    font-size: 2.3rem;
  }

  .menu-bar {
    font-size: 1.8rem;
    display: block;
  }

  .search-bar {
    position: absolute;
    top: 300px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 60px;
    border-radius: 30px;
  }

  .search-text {
    left: 5%;
    top: 150px;
    right: 5%;
    width: 90%;
    gap: 5px;
  }

  .search-results {
    top: 390px;
    left: 6%;
    right: 6%;
    width: 88%;
    height: 150px;
    margin-bottom: 30px;
  }

  .search-results-content {
    gap: 5%;
  }

  .search-results-img {
    width: 30%;
  }

  .search-results-text {
    width: 65%;
  }

  .food-modal {
    width: 80%;
  }

  .close-modal {
    top: 10px;
    right: 10px;
  }

  .mobile-nav {
    background-color: var(--text-color);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .menu-icon {
    font-size: 1.8rem;
    color: var(--background-color);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    padding-left: 50px;
  }

  .mobile-nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--background-color);
  }

  .category-dish h1 {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 10px;
  }

  .category {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .category-details {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .random-header {
    padding: 40px 15px 0 15px;
    font-size: 1.1rem;
    text-align: center;
  }
  .random-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .country-buttons {
    display: none;
  }

  .country-dishes {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dish {
    height: 210px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
  }

  .country-dropdown {
    margin: 20px 20px;
    display: block;
  }

  .mobile-country-button {
    width: 50%;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .mobile-country-options {
    background-color: var(--text-color);
    width: 50%;
  }

  .mobile-country-options button {
    width: 100%;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 10px 20px;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  nav {
    margin: 5px 5%;
  }
  nav ul {
    display: none;
  }

  .favorite {
    display: none;
  }

  .menu-bar {
    font-size: 1.8rem;
    display: block;
  }

  .mobile-nav {
    background-color: var(--text-color);
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .menu-icon {
    font-size: 2.8rem;
    color: var(--background-color);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    padding-left: 100px;
  }

  .mobile-nav ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--background-color);
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    border-bottom: 2px solid var(--background-color);
    transition: all 0.7s;
  }

  .mobile-favorite-handler {
    font-size: 1.8rem;
    color: var(--background-color);
    margin-top: 20px;
  }

  .mobile-heart {
    font-size: 1.6rem;
    color: var(--background-color);
    margin-left: 10px;
  }

  .favorite-wrapper {
    height: 295px;
    width: 480px;
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    z-index: 100;
    left: 10%;
    top: 470px;
    border-radius: 12px;
    overflow-y: scroll;
  }

  .no-favorite {
    width: 70%;
    height: 50%;
    margin: 20% auto;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
  }

  .no-favorite h2 {
    font-size: 2.3rem;
  }

  .search-bar {
    position: absolute;
    top: 300px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 60px;
    border-radius: 30px;
  }

  .search-text {
    left: 5%;
    top: 150px;
    right: 5%;
    width: 90%;
    gap: 5px;
  }

  .search-results {
    top: 390px;
    left: 6%;
    right: 6%;
    width: 88%;
    height: 150px;
    margin-bottom: 30px;
  }

  .search-results-content {
    gap: 5%;
  }

  .search-results-img {
    width: 30%;
  }

  .search-results-text {
    width: 65%;
  }

  .food-modal {
    width: 80%;
  }

  .close-modal {
    top: 10px;
    right: 10px;
  }

  .country-dishes {
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .dish {
    height: 250px;
    width: 350px;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
  }

  .random-header {
    font-size: 1.8rem;
  }

  .random-button {
    margin-top: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .search-bar {
    top: 300px;
    left: 15%;
    right: 15%;
    width: 70%;
  }

  .search-text {
    left: 5%;
    top: 150px;
    right: 5%;
    width: 90%;
    gap: 10px;
  }

  .search-results {
    top: 390px;
    left: 17.5%;
    right: 17.5%;
    width: 65%;
    height: 200px;
    margin-bottom: 30px;
  }

  .search-results-content {
    gap: 5%;
  }

  .search-results-img {
    width: 30%;
  }

  .search-results-text {
    width: 65%;
  }
}
